@import '../../assets/scss/variables';

.topic {
  background-color: $hint-of-red;
  margin-bottom: 25px;
  padding: 15px;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  &__header {
    display: flex;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $timberwolf;

    .user-name {
      font-weight: bold;
    }
  }

  &__date {
    font-size: 12px;
  }

  &__info {
    display: grid;
  }

  &__theme {
    font-size: 18px;
    margin: auto 0;
    font-weight: 600;
  }

  .icon {
    margin-right: 15px;
  }

  &__body {
    font-size: 14px;
  }
}
