@import '../../assets/scss/variables';

.icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--border-color-primary);
  background-color: var(--bg-color-secondary);

  &__img {
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    opacity: 0;
  }
}
