@import '../../assets/scss/variables';

.gui-input {
  position: relative;
  margin-bottom: 25px;

  &-label {
    span {
      display: block;
      width: fit-content;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
      cursor: pointer;
    }
  }

  &-control {
    width: 100%;
    color: var(--text-color-secondary);
    border: 1px solid var(--border-color-primary);
    border-radius: 10px;
    box-shadow: 0 4px 40px var(--box-shadow-color);
    padding: 8px 11px;
    font-size: 16px;
    line-height: 20px;
    height: 36px;
    background: var(--bg-color-primary);
    outline: none;
    caret-color: var(--caret-color);

    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;

      color: var(--place-holder-color);
    }

    &--disabled {
      background-color: var(--disabled-color);
    }

    &--error {
      border-color: var(--caution-color);
    }
  }

  &-error {
    color: var(--caution-color);
    margin-top: 4px;
  }
}
