@import '../../assets/scss/variables';

.login-form {
  max-width: 500px;
  width: 100%;
  background: var(--bg-color-primary);
  border-radius: $border-radius-large;

  &__inner {
    padding: 50px;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 21px;
  }

  &__text {
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
    text-align: center;
    margin-bottom: 50px;
  }

  &__btn {
    display: block;
    margin: 45px auto 11px;

    &--yandex {
      margin-top: 15px;
    }
  }

  &__info {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
